.myTransactionsFilter{
    margin: 20px 0px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
}
.myTransactionsFilter div{
    display: flex;
    padding: 12px 0px;
}
.myTransactionsFilter div input{
    padding: 5px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid gray;
    outline: none;
    font-size: 14px;
    margin-right: 14px;
}
.myTransactionsFilter button{
    align-self: flex-end;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    border: none;
    padding: 0 8px;
    border-radius: 10px;
    outline: none;
    border-left: 2px solid rgb(183, 183, 183);
}